#navBar {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 50px;
	font-size: 15px;
	background-color: #32a852;
}
#navBar li {
	display: inline;
	float: right;
	padding: 10px;
	color: #FFFFFF;
	font-family: monospace;
}
#navBar li:hover {
	color: #FFFFFF;
	background-color: #4286f4;
			  }
#navBar a {
	text-decoration: none;
	color: #FFFFFF;
	font-family: monospace;
	font-size: 15px;
	display: block;
}

#homeImg{
	position: relative;
	display: block;
	margin: auto;
		}
#homeImg img{
	width: 700px;
	height: 500px;
	position: relative;
	left: 25%;
	background-size: 700px 500px;
		   }

body{
	background-color: #2D2D2D;
}

.scrollList {
	height: 725px;
	overflow: hidden;
	color: #FFFFFF;
	-webkit-transition: opacity 5s ease-out;
	-webkit-animation: autoScrolling 10s linear infinite;
}

.scrollList > li {
	position: absolute;
	width: 99%;
}

.cardBlock {
	margin: auto;
	width: 50%;
	border: 3px solid #32a852;
	padding: 20px;
	background-color: #585858;
}
.clientID {
	text-align: center;
}
.clientApt {
	text-align: center;
}
.noListStyle {
	list-style-type: none;
}